
/************ Common **************/

.left
{
	float: left;
}

.right
{
	float: right;
}

.hide
{
	display: none;
}

body
{
	width: 560px;
	overflow: hidden;
	
	 /*some browser show a scrollbar*/
    /*font-family:Lucida Sans,Calibri;*/
}
      
/************ Title **************/

.titleBar
{
position:absolute;
top:2px;	
	background-repeat: no-repeat;
	background-position: right;
	background-image: url(/images/spinWorld.png);
	background-color: #EBEFF9;
	border: 1px solid #B5C7DE;
	-webkit-border-radius: 6px 6px 0px 0px;
	padding: 5px 0px 5px 10px;
	float: left;
	width: 548px;

}


.titleBar > div
{
	margin-top: 4px;
/*	font-family: Lucida Sans,Calibri;*/
	font-weight: bolder;
	font-size: 13pt;
	font-variant: small-caps;
	float: left;
}

.titleBar > input
{
	padding-left: 2px;
	margin-left: 8px;
	float: left;
	width: 50%;
}

.titleButton
{
	margin-left: 8px;
	-webkit-border-radius: 3px;
	height: 16px;
	width: 16px; /*width:18px;     		height:18px;*/
	padding: 1.5px; /*background-repeat:no-repeat;     		background-position:center;*/
	-webkit-box-shadow: 0px 0px 2px #4572CC;
	background-color: #4572CC;
}


.titleButton:hover
{
	-webkit-box-shadow: 0px 0px 4px #4572CC;
	cursor: pointer;
}



/************ Engine List **************/



	




.searchEngine img
{
	/*display:none;*/
	vertical-align: text-top; /*coud be a better fit*/
	margin-right: 10px;
	width: 16px;
	padding-top: 2px;
	padding-left: 3px; /*overflow:hidden;*/ /*dunno if this works*/
	height: 16px;
}
.searchEngineList .searchEngine span
{
	color: Black;
	/*font-family: Calibri;*/ /*Arial;*/
	overflow: visible;
}

/*************Search engine list small******************/

    /******* Top menu *********/
 		
        .suggest
        {
            z-index: 330;
            position: absolute;
            font-weight: normal;
            font-size: 12px;
            list-style-type: none;
            padding-left: 0px;
            margin: 3px 0px 0px 135px;
            background-color: Gray;
            -webkit-border-radius: 0px 0px 3px 3px;
            background-color: #EBEFF9; /*#F0F0F0;*/
            border: solid #B5C7DE;
            border-width: 0px 1.5px 1.5px 1.5px;
            padding: 2px 3px 2px 2px;
        }
        
        
        .suggest li
        {
            margin: 1px 0px 0px 0px;
            padding: 0px 2px 0px 2px;
            -webkit-border-radius: 3px;
        }
        
        
        .suggest li:hover
        {
            cursor: pointer;
            background-color: #B5C7DE; /*#4572CC;*/
            border-width: 1px;
            border-color: #4572CC;
        }
        
        
        /**** bottom menu ****/
        #optionsBox a:hover img
        {
            /*-webkit-transform: rotate(360deg);
            -webkit-transition: all 4s ;*/
        }
        
        
        
        /***** Engine List *****/
        
        .searchEngineListBase
        {
            background: -webkit-gradient(linear, 100% 100%, 0% 100%, from(white), to(white), color-stop(.5,#EBEFF9),color-stop(.8,#EBEFF9),color-stop(.2,#EBEFF9));
            padding-bottom: 10px;
            margin-bottom: 0px;
            -webkit-padding-start: 0px;
            list-style-type: none;
        }
        
        .searchEngineList
        {
            font-family: Calibri,YetAnotherFontBase;
            letter-spacing: .1em;
            margin-top: 30px;
            padding-top: 14px;
        }
        
        
        .smallEngineList
        {
            padding-top: 30px;
            margin-top: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        
        ul.searchEngineList li:nth-of-type(even) .searchEngine
        {
            float: right;
            margin-right: 25px;
            margin-left: 0px;
        }
        
        /******* Search engine *********/
        .searchEngineListBase .searchEngine
        {
            float: left;
            background-color: white;
            cursor: pointer;
        }
        
        .searchEngineList .searchEngine
        {
            border-width: thick;
            border: 1px solid white; /*#E5E6E0; width:auto;*/
            width: 200px;
            -webkit-border-radius: 8px;
            padding: 5px;
            margin-top: 5px;
            margin-left: 35px;
            -webkit-transition: all .5s;
        }
        
        .smallEngineList .searchEngine
        {
            padding: 3px;
            margin-top: 10px;
            margin-left: 5px;
            -webkit-border-radius: 6px;
            border-color: transparent;
            border-style: solid;
            border-width: 1px;
        }
        
        
        .searchEngineList .searchEngine:hover
        {
            background-color: #FAFAF0;
            -webkit-box-shadow: 2px 2px 2px rgba(0,0, 0, 0.4);
            -webkit-box-shadow: #666 0px 0px 3px;
            -webkit-transition: all 0s;
        }
        
        
        .smallEngineList .searchEngine:hover
        {
            border-color: #EBEFF9;
            -webkit-box-shadow: 2px 2px 2px rgba(0,0, 0, 0.4);
            background: -webkit-gradient(linear, 0% 70%, 0% 100%, from(#FDFDF7), to(#B5C7DE));
        }
        
        
        
        
        
        .smallEngineList .searchEngine:active, .searchEngine[selected="selected"], .searchEngine:hover[selected="selected"]
        {
            border-color: #B5C7DE;
            background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#B5C7DE), to(#FDFDF7));
            -webkit-box-shadow: 0px 0px 0px rgba(0,0, 0, 0.4);
            border-style: solid;
            border-width: 1px;
        }
        
        .searchEngineList .searchEngine:active
        {
            -webkit-transform: rotate(0deg) scale(.95);
        }
        .smallEngineList .searchEngine:active img, .smallEngineList .searchEngine[selected="selected"]
        {
            -webkit-transform: rotate(0deg) scale(.83);
        }
        
        
        .smallEngineList .searchEngine img
        {
            margin-right: 3px;
        }
        
        .smallEngineList span
        {
            display: none;
        }
        
        
        
        
        .multi
        {
            /*margin:auto;
	        -webkit-border-radius: 6px;
            border-style:solid;
            border-color: #B5C7DE;
            border: 1px solid #B5C7DE;*/
            clear: left;
            overflow: hidden;
            -webkit-transform: rotate(0deg) scale(.83);
        }
        
        
        
        /************ Footer **************/
        
        
        .footer
        {
            color: rgb(18,50,114);
            -webkit-border-radius: 0 0 6px 6px;
            border: 1px solid #B5C7DE;
            font-size: 10pt;
            background-color: White;
            position: absolute;
            z-index: 55;
            bottom: 0px;
            width: 560px;
        }
        
        
        .footer a, .footer a:visited
        {
            color: rgb(18,50,114);
        }
        
        .footerMenuItem
        {
            padding: 3px; /*margin-right:10px;*/
            margin-left: 0px;
        }
        
        .footerMenuItem img
        {
            margin-right: 0px;
            float: left;
        }
        
        .footerMenuItem span
        {
            padding-left: 3px;
            padding-top: 3px;
            vertical-align: top;
            float: left;
        }
        
        
        .footerMessage
        {
            float: left;
            margin: 5px;
        }




